extends common/layout

block content
  h1 Freelancer Toolkit
  p Welcome to your toolkit for freelancers! Explore the features below:
  ul
    li 
      a(href="/currency") Currency Converter
    li 
      a(href="/workspaces") Workspace Locator
    li 
      a(href="/timezones") Time Zone Finder
