doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles/style.css")
  body
    block content

    // Include the JavaScript file at the bottom of the body
    script(src="/js/toolkit.js")
