extends layout

block layout-content
    h1.page-title Administer menu links
    a(href="/admin/menu/add") + Add new menu link
    table
        thead
            tr
                th Link text
                th Operations
        tbody
            each link in menu
                tr
                    td #{link.name} (#{link.path})
                    td
                        form(method="get", action="/admin/menu/delete")
                            input(type="hidden", name="linkId", value=link._id)
                            button(type="submit") Delete
                    td
                        form(method="get", action="/admin/menu/edit")
                            input(type="hidden", name="linkId", value=link._id)
                            button(type="submit") Edit
