header#header-container 
    //- div.header-content is shortcut for div(class="header-content")
    div.header-content 
        h2#site-name    
            a(href="/") Test Website 
        nav(aria-label="Main navigation")
            ul 
                each link in menu 
                    //- link (above) is my temporary variable in my foreach loop
                    li  
                        a(href=link.path) #{link.name}